<div class="container mt-4">
  <h2>Lista de Ingresos</h2>

  <app-botones 
  [botones]="[
    { texto: 'Agregar Ingreso',icono: 'bi bi-check-circle-fill',  ruta: '/ingresos/agregar', estilo: 'btn-success' }
  ]">
</app-botones>

  <table class="table table-dark table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Fuente</th>
        <th>Persona</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingreso of listaIngresos">
        <td>{{ ingreso.id }}</td>
        <td>{{ ingreso.descripcion }}</td>
        <td>{{ ingreso.monto | currency: 'EUR' }}</td>
        <td>{{ ingreso.fuente }}</td>
        <td>{{ ingreso.persona_id }}</td>
        <td>
          <a [routerLink]="['/ingresos/editar', ingreso.id]" class="btn btn-warning btn-sm">✏️ Editar</a>
          <button class="btn btn-danger btn-sm" (click)="eliminarIngreso(ingreso.id)">🗑 Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
