




<div class="container mt-4">
  <h2>Lista de Personas</h2>


  <app-botones 
  [botones]="[
    { texto: 'Agregar Persona',icono: 'bi bi-check-circle-fill', ruta: '/personas/agregar', estilo: 'btn-success' }
  ]">
</app-botones>

  <table class="table table-dark table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{ persona.id }}</td>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.edad }}</td>
        <td>{{ persona.email }}</td>
        <td>
          <a [routerLink]="['/personas/editar', persona.id]" class="btn btn-warning btn-sm">Editar</a>
          <button class="btn btn-danger btn-sm m-1" (click)="eliminarPersona(persona.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

